<div class="main-menu hidden-xs">
    <nav>
        <ul>
            <li><a href="/home/index">@localizer["Home"]</a></li>
            <li>
                <a href="/room/index">@localizer["Room"]</a>
                <ul class="submenu">
                    <li><a href="/room/RoomDetails">ROOM LIST</a></li>
                    <li><a href="/room/RoomList">ROOM DETAILS</a></li>
                </ul>
            </li>
          
            <li><a href="location.html">LOCATION</a></li>
            <li>
                @Html.ActionLink("EVENT", "Index", "Event")
            </li>
            <li>
                @Html.ActionLink("TEAM", "Index", "Team")
            </li>
            <li>
                @Html.ActionLink(localizer["Contact"].Value.ToString(), "Contact", "Home")
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="#">@User.Identity.Name</a>
                </li>
                <li>
                    <a href="#">LogOut</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/Account/LogIn">LogIn</a>
                </li>
            }
        </ul>
    </nav>
</div>